<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoTracker</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Acceuil</a>
            <a href="{% url 'ingredientlist' %}">Liste d'ingrédients</a>
            <a href="{% url 'menuitemlist' %}">Liste du menu</a>
            <a href="{% url 'purchaselist' %}">Liste des commandes</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>