{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoTracker</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <a class="logo" href="{% url 'home' %}">RestoTrack</a>
        <nav>
            {% if user.username %}
            <ul class="nav_links">
                <li><a class="nav" href="{% url 'ingredientlist' %}">Ingrédients</a></li>
                <li><a class="nav" href="{% url 'menuitemlist' %}">Menu</a></li>
                <li><a class="nav" href="{% url 'purchaselist' %}">Commandes</a></li>
                <li><a class="nav" href="{% url 'profit' %}">Profit</a></li>
            </ul>
            {% endif %}
            {% if not user.username %} 
            <ul class="nav_links">
                <li><a class="nav" href="{% url 'carte' %}">Carte</a></li>
                <li><a class="nav" href="">Reserver</a></li>
                <li><a class="nav" href="">Contact</a></li>
            </ul>
            {% endif %}
        </nav>
        {% if not user.username %} 
            <a class="register" href="{% url 'login' %}"><button class="nav">Login</button></a>
        {% endif %}
        {% if user.username %}
            <a class="register" href="{% url 'logout' %}"><button class="nav">Logout</button></a>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>