{% extends "inventory/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="block block-right">
    <div class="block-img">
        <img src="https://images.unsplash.com/photo-1467003909585-2f8a72700288?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
    </div>
    <div class="block-body">
        <h2>Welcome</h2>
        <p>
            Attending a trade show can be a very effective method of promoting your company and its products. And one of the most effective ways to optimize your trade show display and increase traffic to your booth is through the use of banner stands.
        </p>
    </div>
</div>
{% endblock %}