{% extends "inventory/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<h1>Liste des ingredients</h1>
<a href="{% url 'ingredientcreate' %}"><button>Ajouter un ingrédient</button></a>
<table>
    <tr>
        <th>Noms</th>
        <th>Quantité</th>
        <th>Prix/unité</th>
        <th></th>
    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }} {{ ingredient.unit }}</td>
        <td>{{ ingredient.unit_price }}€ / {{ ingredient.unit }}</td>
        <td><a href="{% url 'ingredientdelete' ingredient.id %}"><button>Delete</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}