{% extends "inventory/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<h1>Liste du menu</h1>
<table>
    <tr>
        <th>Titre</th>
        <th>Prix</th>
    </tr>
    {% for menuitem in menuitems %}
    <tr>
        <td>{{ menuitem.title }}</td>
        <td>{{ menuitem.price }}€</td>
        <td><a href="{% url 'menuitemdelete' menuitem.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}