{% extends "inventory/base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<h1>Liste des commandes</h1>
<div class="button-container">
    <a href="{% url 'purchasecreate' %}"><button>Enregister une commande</button></a>
</div>
<table>
    <tr>
        <th>Item</th>
        <th>Date</th>
        <th>Heure</th>
    </tr>
    {% for purchase in purchases %}
    <tr>
        <td>{{ purchase.menu_item }}</td>
        <td>{{ purchase.timestamp|date:"d/m/Y" }}</td>
        <td>{{ purchase.timestamp|date:"G:i:s" }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}