@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Raleway:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* conponents */

body {
    background-color: #F5F5F5;
}

h1, h2, h3, h4, li, a, button, p, td, th {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

li, a, button {
    font-size: 14px;
    color: #062C30;
}

p, td {
    font-size: 14px;
}

th {
    font-weight: 600;
    font-size: 16px;
}

button, input[type=button], input[type=submit], input[type=reset] {
    padding: 9px 25px;
    background-color: rgba(5, 89, 91,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #F5F5F5;
    font-size: 14px;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgba(5, 89, 91,0.8);
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid; */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #062C30;
    color: #F5F5F5;
}


tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {
    background-color: #E2D784;
}

/* form */

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-text {
    font-size: 16px;
    font-weight: 600;
}

input[type=button], input[type=submit], input[type=reset] {
    margin: 8px 0;
    width: auto;
}


/* header */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background-color: #062C30;
}

.nav {
    color: #F5F5F5;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    font-size: 40px;
    color: #E2D784;
    font-family: 'Parisienne', cursive;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #E2D784;
}

/* main */

main {
    padding: 30px 10%;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: flex-start;
    align-items: center;
}

.button-container a{
    margin-right: 20px;
}


